.uIIOSStatusbar.uIIOSStatusbar {
  right: initial;
  top: 2px;
  bottom: initial;
  width: 410px;
  height: 48px;
  background-color: initial;
}
.battery.battery {
  left: 367.7244px;
  top: 18.9091px;
  width: 26.5987px;
  height: 12.3636px;
}
.battery {
  left: 367.7244px;
  top: 18.9091px;
  width: 26.5987px;
  height: 12.3636px;
}
.icon {
  width: 100%;
  height: 100%;
}
.wifi.wifi {
  left: 345.4933px;
  top: 18.9062px;
  width: 16.7644px;
  height: 12px;
}
.wifi {
  left: 345.4933px;
  top: 18.9062px;
  width: 16.7644px;
  height: 12px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.cellularConnection.cellularConnection {
  left: 321.44px;
  top: 19.2727px;
  width: 18.5867px;
  height: 11.6364px;
}
.cellularConnection {
  left: 321.44px;
  top: 19.2727px;
  width: 18.5867px;
  height: 11.6364px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.time {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: -2.439%;
  top: calc(50% - -5.5455px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.heart3.heart3 {
  left: -0.4651%;
  right: 69.0698%;
  top: 9.1202%;
  bottom: 86.8964%;
}
.image3.image3 {
  background-image:/* webpackIgnore: true */ url('assets/image32.png');
}
.image4.image4 {
  background-image:/* webpackIgnore: true */ url('assets/image42.png');
}
.image5.image5 {
  background-image:/* webpackIgnore: true */ url('assets/image52.png');
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.sCREEN {
  position: absolute;
  left: -2px;
  top: 441px;
  width: 432px;
  height: 490px;
  background-color: #000;
}
.mID {
  transform-origin: top left;
  position: absolute;
  left: 612px;
  top: 538px;
  width: 613px;
  height: 102px;
  background-image: linear-gradient(-3.1deg, #0000 0%, #000f 40%), /* webpackIgnore: true */ url('assets/mID.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.TOP {
  position: absolute;
  left: -57.7459px;
  top: -34.3636px;
  width: 613px;
  height: 102px;
  background-image: linear-gradient(-1.7deg, #0000 0%, #000f 22%), /* webpackIgnore: true */ url('assets/TOP.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}
.bOTTOM {
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 758px;
  width: 613px;
  height: 174px;
  background-image: linear-gradient(-1.8deg, #0000 0%, #000f 78%), /* webpackIgnore: true */ url('assets/bOTTOM.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.circle22 {
  transform-origin: top left;
  position: absolute;
  left: 378.2215px;
  top: 824px;
  width: 63.9528px;
  height: 63.9528px;
  border-radius: 50px;
  background-color: #1e1e1e;
  filter: blur(2px);
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.bag {
  position: absolute;
  left: 362px;
  top: 844px;
  width: 33px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('assets/bag.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.draw_01 {
  position: absolute;
  left: 70px;
  top: 155px;
  width: 289px;
  height: 249px;
  background-image:/* webpackIgnore: true */ url('assets/draw_01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed {
  position: absolute;
  left: 29px;
  top: 500px;
  width: 381px;
  height: min-content;
  text-shadow: 0px 0px 15px #428bff;
  flex-direction: column;
}
.textBlock {
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #464646ff 0%, #ffff 13%, #ffff 87%, #464646ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 120%;
  font-family: NanumGothicCoding, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.spotlight {
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% - -179px);
  width: 441px;
  height: 144px;
  overflow: visible;
  filter: blur(135px);
  transform: translate(-50%, -50%);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.lines {
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% - -178.5px);
  width: 401px;
  height: 323px;
  overflow: visible;
  filter: blur(0.5px);
  transform: translate(-50%, -50%);
}
.icon5 {
  width: 100%;
  height: 100%;
}
.noise {
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% - -179px);
  width: 391px;
  height: 294px;
  background-image:/* webpackIgnore: true */ url('assets/noise.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.setting {
  position: absolute;
  left: 370px;
  top: 84px;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('assets/setting.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inventory_01 {
  opacity: 0.75;
  position: absolute;
  left: 94px;
  top: 848px;
  width: 61px;
  height: 42px;
  border-radius: 8px;
  background-color: #222;
  box-shadow: 0px 4px 14.2px 2px #ffd556;
}
.inventory_02 {
  opacity: 0.75;
  position: absolute;
  left: 173px;
  top: 848px;
  width: 61px;
  height: 42px;
  border-radius: 8px;
  background-color: #222;
  box-shadow: 0px 4px 14.2px 2px #ffd556;
}
.inventory_03 {
  opacity: 0.75;
  position: absolute;
  left: 252px;
  top: 848px;
  width: 61px;
  height: 42px;
  border-radius: 8px;
  background-color: #222;
  box-shadow: 0px 4px 14.2px 2px #fffefa;
}
.icon_01 {
  position: absolute;
  left: 107px;
  top: 850px;
  width: 34px;
  height: 38px;
  background-image:/* webpackIgnore: true */ url('assets/icon_01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon_02 {
  position: absolute;
  left: 185px;
  top: 850px;
  width: 37px;
  height: 38px;
  background-image:/* webpackIgnore: true */ url('assets/icon_02.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._6 {
  color: #000;
  font-size: 16px;
  line-height: 120%;
  font-family: ADLaM Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 170px;
  top: 94px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._5 {
  opacity: 0.48;
  color: #000;
  font-size: 15px;
  line-height: 120%;
  font-family: ADLaM Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 136px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2 {
  opacity: 0.48;
  color: #000;
  font-size: 15px;
  line-height: 120%;
  font-family: ADLaM Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 161px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1 {
  opacity: 0.48;
  color: #000;
  font-size: 15px;
  line-height: 120%;
  font-family: ADLaM Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 186px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
